.git
.github
.vscode

**/.env
**/.env.*
!**/.env.example

**/node_modules
**/vendor

*.zip
*.rar
*.7z
*.sql
*.sqlite
*.sqlite3
*.log

dumps
frontend/dist
mobile/dist
backend/public/assets
backend/public/build
backend/public/storage
backend/storage/logs
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views

